<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, user-scalable=no">
	<title>PWA Demo App</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/public/css/styles.css"/>
	<link rel="manifest" href="./manifest.json">
</head>
<body>
<style>
		{{inlineStyles}}
</style>
<div class="content">
	<div class="header">Reddit - Top posts</div>
	<div id="offline-status-container">You are currently browsing offline.</div>
	<div id="post-content">
		<div class="post-placeholder">
			<div class="placeholder-long"></div>
			<div class="placeholder-short"></div>
		</div>
		<div class="post-placeholder">
			<div class="placeholder-long"></div>
			<div class="placeholder-short"></div>
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="/public/js/app.js"></script>
<script id="posts-template" type="x-handlebars-template">
	<div class="loaded-content">
		\{{#each posts}}
			<div class="post-container">
				<div class="post-title">
					<a href="https://www.reddit.com\{{this.data.permalink}}">\{{this.data.title}}</a>
				</div>
				Author: <span class="post-author">\{{this.data.author}} </span>
			</div>
		\{{/each}}
	</div>
</script>
<script>
	if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register('/sw.js').then(function(registration) {
			// Registration was successful
			console.log('ServiceWorker registration successful with scope: ',    registration.scope);
		}).catch(function(err) {
			// registration failed :(
			console.log('ServiceWorker registration failed: ', err);
		});
	}
	function handleOnlineStatus() {
		if (navigator.onLine) {
			document.getElementById('offline-status-container').style.display = "none";
		} else {
			document.getElementById('offline-status-container').style.display = "block";
		}
	}
	window.addEventListener('load', function(){
		window.addEventListener('online',  handleOnlineStatus);
		window.addEventListener('offline', handleOnlineStatus);
	});
	handleOnlineStatus();
</script>
</body>
</html>
